name: Publish Package to npmjs
on:
  release:
    types: [published]
jobs:
  test-build-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@ovotech'
      - run: yarn
      - run: yarn build
      - run: yarn test
      - run: yarn publish
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
